*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gabriola';
}
header{
    margin-left: 10px;
    margin:0px;
    width: 98.9vw;
    height: 400px;
}
.cover{
    width:80vw;
    height: 400px;
    background-image: url(5.jpg);
    background-size: cover;
    background-position: center;
    float: right;
}
.PhotProfile{
    padding-top: 116px;
    height: 400px;
    padding-left: 5vw;
}
.PhotProfile img {
    border: 3px solid black;
    border-radius: 30%;
    height: 100px;
    position: relative;
}
main {
    background-color: #222;
    height: auto;
    width: 98.9vw;
}
html,body{
    max-width: 100vw !important;
}
.Grille{
    padding-top: 10px;
    padding-bottom: 60px;
    max-width: 1350px;
    width: 85%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,400px);
    justify-content: center;
    grid-gap: 10px;
    background-color: #222;
    
}
.grille-items{
    width: 400px;
    height: 280px;
    background-color: gray;
}
@media screen and (width<1200px) {
    .PhotProfile img {
        border: 3px solid black;
        border-radius: 30%;
        height: 100px;
        position: relative;
        margin-top: -200px;
        margin-left: 30%;
    }
    .cover{
        width:100vw;
    }
    .nav-main{
        display: block;
        height: auto !important;
    }
    .det{
        float: left;
        z-index: 0;
    }
    .det ul{
        display: inline-block !important;
        
        
    }
}
.nav-main{
    display: block;
    margin: 0px;
    color: aliceblue;
    font-size: larger;
    display: inline-block;
    width: 100vw;
    height: 70px;
    padding-top: 20px;
    padding-left: 5%;
    margin-bottom: 10px;
}
.usrn{
    width: auto;
    font-size: x-large;
    display: inline;
    padding-bottom: 5px;
    padding-right: 5px;
    border-bottom: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
}
.det{
    float: right;
    width:70vw;
    display: inline-flex;
    padding-top: 30px;
    list-style-type: circle;
}
.det ul{
    display: inline-flex;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
}
.det ul li {
    margin-left: 20px;
    
}